*{
    padding: 0%;
    margin: 0%;
}
img{
    image-rendering: optimizeQuality;
    image-resolution: initial;
    margin-left: 70px;
}
div{
    background-image: initial;
    background:linear-gradient(60deg,purple,black,blue);
    display: flexbox;
}
#logo{
    height: 100px;
    border-radius: 5px;
    width: 80%;
}
#audios{
    height: 200px;
}
p{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
button{
    margin-top: 10px;
    background: linear-gradient(30deg,rgb(95, 36, 255),rgb(255, 16, 56), skyblue);
    color:orange;
    font-family:fantasy;
    text-emphasis-style: initial;

}
button:hover{
    background: black;
}